html
head
    title hub | Robert G.
    link(rel="stylesheet", href="css/style.css")
    meta(charset='utf-8')
body

    section#header

        #particles-js

        p hi&nbsp;robert!
        a(href="#trigger1") click here
    
    section.cardholder#trigger1
        .card
            .image
            .title Project 1
            .desc An ‘extremely credible source’ has called my office and told me that Barack Obama’s placeholder text is a fraud. The concept of Lorem Ipsum was created by and for the Chinese in order to make U.S. design jobs non-competitive. Does everybody know that pig named Lorem Ipsum? She's a       disgusting pig, right?
        .card
        .card
        .card
    
    footer
        //- .backtotop 
        //-     a(href="#header") TOP
        //- .
            

    script(src="js/particles.js")
    script(src="js/jquery.js")
    script(src="js/app.js")
    script(src="js/assets/particles.json")
